.tab-container {
  width: 100%;
}

.tab-titles {
  display: flex;
  flex-direction: row;
}

.tab {
  padding: 8px 16px;
  cursor: pointer;
}

.tab.selected {
  border-bottom: 1px solid #000000;
}

.tab:not(.selected):hover,
.tab:not(.selected):focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tab-panel {
  padding: 16px 32px;
}
