# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  pull_request:
    types: [opened, synchronize, reopened]
  release:
    types: [created]

jobs:
  build-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "yarn"
      - name: Install dependencies
        run: yarn install --frozen-lockfile --non-interactive
      - name: Test
        run: yarn test
      - name: Build
        run: yarn build
      - name: Prepare repository
        run: git fetch --unshallow --tags
      - name: Release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          PR: ${{ steps.PR.outputs.number }}
        run: yarn release
